/* Global Layout Set-up */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background-color: #F5F3EE;
}

header {
  background-color: #7D1935;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

nav {
  background-color: #7D1935;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

main, footer {
  padding-left: 20px;
  padding-right: 20px;
}

footer {
  background-color: #7D1935;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/* Navigation layout */

.nav {
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.name {
  font-weight: 700;
  margin: 0 auto;
  padding-top: 10px;
  margin-bottom: 20px;
  font-size: 1.7em;
}

.nav li {
  padding: 4px 0;
}

.nav a {
  background-color: #fff;
  border: 2px solid transparent;
  text-decoration: none;
  color: black;
  display: block;
  transition: .5s ease;
  width: 199px;
  border-radius: 10px;
  padding: 10px 40px;
  margin-left: 20%;
}

.nav a:hover {
  border: 2px solid black;
  background-color: #4A96AD;
  transition: .5s ease;
}

/* Introduction styles */
.profile-image {
  border-radius: 10px;
}

.intro {
  padding-top: 50px;
}

.intro img {
  max-width: 75%;
}

.intro p {
  font-size: 20px;
  border-radius: 10px;
}

/* Portfolio styles */

.full-port {
  padding-bottom: 30px;
}

.port-entry {
  padding-bottom: 20px;
}

main h2 {
  margin: 50px 0;
}

.port-entry img {
  width: 100%;
  height: auto;
}

.port-entry h3 {
  color: #4A96AD;
}

.equal-heights {
  display: flex;
  flex-wrap: wrap;
}

/* Footer styles */

.contact {
  padding-top: 30px;
  padding-bottom: 30px;
}

.contact p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.foot-name {
  float: left;
  font-weight: bold;
}

.foot-btt {
  float: right;
  font-weight: bold;
}

.foot-btt a {
  text-decoration: none;
  color: #4A96AD;
}

.foot-nav {
  display: none;
}

.foot-nav li a {
  color: white;
}

.telephone {
  color: black;
}

.mail {
  color: black;
}

/* Skills styles */

.skills {
  padding-bottom: 30px;
}
.skills p {
  padding: 10px 40px;
  margin: 20px;
  border: 2px solid black;
  background-color: #4A96AD;
  color: white;
  border-radius: 10px;
  display: inline-block;
  width: 200px;
}

/* Clearfix */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Media Queries */

@media (min-width: 768px) {
  .footer {
    padding-bottom: 50px;
  }
  .profile-image {
    border-radius: 50%;
    margin-top: -45px;
    margin-top: 10px;
    }
  .name {
    display: block !important;
  }
  .nav li {
    display: inline-block;
  }
  .nav a {
    padding: 10px 20px;
    background-color: transparent;
    margin: -25px;
  }
  .port-entry {
    float: left;
    width: 50%;
  }
  .port-entry {
    padding: 5px;
  }
  .intro img, .intro p {
    float: right;
    width: 50%;
  }
  .intro img {
    padding-left: 20px;
  }
  .intro p {
    text-align: left;
    padding: 65px;
  }
  .foot-btt {
    display: none;
  }
  .foot-nav {
    display: block;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    float: right;
  }
  .foot-nav li {
    float: left;
  }
  .foot-nav a {
    padding: 10px;
    text-decoration: none;
    display: block;
    width: 100%;
  }
}

@media (min-width: 1024px) {
    .profile-image {
    border-radius: 50%;
    margin-top: -45px;
  }
    .wrapper {
    width: 85%;
    max-width: 1024px;
    margin: 0 auto;
  }
  .port-entry {
    float: left;
    width: 33%;
  }
  .nav {
    float: right;
  }
  .nav a {
    color: white;
    border: none;
  }
  .nav a:hover {
    border: none;
    background: none;
    transition: .5s ease;
  }
  .nav li {
    float: left;
  }
  
  /* Top right clickable text */
  ul li a:hover, ul li a:focus {
    color: #4A96AD;
    transition: all .5s;
    list-style: none;
  }
  .name {
    display: inline-block;
    float: left;
  }
  .intro p {
    width: 60%;
  }
  .intro img {
    width: 40%;
    margin-top: -5px;
  }
}